{% extends 'admin/master.html' %}
{% block body %}
    <h3>TRacker</h3>
    TRacker is open source software (GPLv3), you are welcome to deploy it wherever you like, if you fix something please contribute it back.
    <ul>
        <li>version: {{ help_about['version'] }}</li>
        <li>release: {{ help_about['modified'] }}</li>
        <li>source: <a href="https://github.com/dradux/tracker">https://github.com/dradux/tracker</a></li>
        <li>issues: <a href="https://github.com/dradux/tracker/issues">https://github.com/dradux/tracker/issues</a></li>
        <li>wiki: <a href="https://github.com/dradux/tracker/wiki">https://github.com/dradux/tracker/wiki</a></li>
    </ul>
    Copyright 2017 dradux.com. All Rights Reserved<br/>
{% endblock %}
